:root {
  --white-text: #f4f3f4;
  --black-text: #0f203a;
  --input-field: #a1abb7;
  --light-purple: #a882c1;
  --purple: #824ca7;
  --yellow-mustard: #B9C406;
  --red-rose: #D50B53;
}
* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black-text);
}
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: rgb(168,130,193);
  background: linear-gradient(45deg, rgba(168,130,193,1) 22%, rgba(130,76,167,1) 53%, rgba(161,171,183,1) 80%);
}